<header id="mainHeader" class="mv-header container">
  <div class="row">
    <div class="mv-header__layout_menu-area col-xs-3">
      <button type="button" class="mv-btn mv-btn--fx">
        <i class="fa fa-bars"></i>
        Menu
      </button>
    </div>
    <div class="mv-header__layout_logo-area col-xs">
      <a routerLink="">
        <img src="/assets/img/logo-casuloglobal_150x96.png" alt="" />
      </a>
    </div>
    <div class="mv-header__layout_tool-area col-xs-3">
      <button type="button" class="mv-btn mv-btn--fx">
        <i class="fa fa-user"></i>
        Entrar
      </button>
    </div>
  </div>
</header>
