@import "../../config/variables";

$mv-header--height: 6rem;
$mv-header--background-color: #f5f5f5;

:host {
  max-height: $mv-header--height + 1rem;
  padding: .5rem 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: $header--font-family;
  background-color: $mv-header--background-color;
  box-sizing: border-box;
}

.mv-header {
  line-height: $mv-header--height;

  &__layout {
    &_menu-area {
      text-align: left;
      align-items: center;
    }

    &_logo-area {
      text-align: center;
      font-family: $header--font-family;
      font-size: 3em;
    }

    &_tool-area {
      text-align: right;
    }
  }
}
