<footer id="mainFooter" class="mv-footer">
  <div class="container">
    <div class="row">
      <div class="mv-footer__layout_direitos col-xs">
        <i class="fa fa-phone"></i> (69) 9 9208-4424
      </div>
    </div>
    <div class="row">
      <div class="mv-footer__layout_empresa col-xs">
        Casulo Global - 22.862.544/00001-03 <br>
        Av. Salgado Filho, 2645  Porto Velho/RO <br>
        ® Todos os direitos reservados
      </div>
    </div>
  </div>
</footer>
