<section class="mv-section mv-parceiros" id="parceiros">
  <div class="container">
    <header class="row">
      <div class="col-xs">
        <h1 class="mv-section__title">Parceiros</h1>
      </div>
    </header>

    <form class="mv-parceiro__form" action="index.html">

        <label class="mv-parceiro__input-form">
          <i class="fa fa-search"></i>
          <input class="mv-parceiro__input" type="text" name="partner_name"
              value=""
              placeholder="Buscar">
        </label>

    </form>
  </div>
</section>
