<ul class="mv-mega-slide__collection">
  <li class="mv-mega-slide__page">
    <a class="mv-mega-slide__caption mv-fx__shadow--left" routerLink="curso">
      <h1 class="mv-mega-slide__title">Desenvolvimento Gerencial</h1>
      <h2 class="mv-mega-slide__subtitle"><span>Modernas técnicas para liderar equipes vencedoras</span></h2>
      <span class="mv-mega-slide__link">
        <i class="fa fa-chevron-right"></i>
      </span>
    </a>
  </li>
</ul>
