@import "../../config/variables";

:host {
  position: relative;
  height: 80%;
  min-height: 30rem;
  margin: 0;
  padding: 0;
  display: block;
  background-image: url("/local/img/curso/desenvolvimento_gerencial.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.mv-mega-slide {

  &__collection {
    position: relative;
    height: inherit;
    width: inherit;
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
  }

  &__page {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    list-style: none;

    /*&:before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      height: 0;
      width: 0;
      border-left: 6rem solid #f5f5f5;
      border-right: 6rem solid transparent;
      border-bottom: 6rem solid transparent;
      // border-top: 6rem solid transparent;
    }*/
  }

  &__caption {
    position: relative;
    max-width: 30%;
    padding: 1rem 10% 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    text-decoration: none;
    background-color: #f5f5f5;

    &:hover {
      background-color: #a2def7;
    }
  }

  &__title {
    margin: 0;
    font-family: $header--font-family;
    font-size: 2em;
    color: #2e3192;
    text-shadow: 1px 1px 0 rgba(255,255,255,.3);
  }
  &__subtitle {
    margin: 0;
    font-family: $header--font-family;
    font-size: 1.3rem;
    color: #333;
  }

  &__link {
    position: absolute;
    left: auto;
    right: 5%;
    top: 1rem;
    bottom: auto;
    display: block;
    padding: 1rem;
    font-size: 2em;
    color: rgba(0,0,0,.5);
  }

  &__description {
    font-size: 1.5em;
  }

  &__btn {
    display: inline-block;
  }
}
