:host {
  display: block;
  margin-bottom: 1rem;
}
.mv-cliente {
  display: block;
  position: relative;
  // box-shadow: 0 0 2px #ddd;
  padding: 0.5rem 1rem;
  // min-height: 4rem;

  &__nome {

  }

  &__sigla {
    font-weight: bold;
  }
}
