<form #moipForm="ngForm" method='post' action='https://www.moip.com.br/PagamentoSimples.do' (ngSubmit)="onSubmit($event,moipForm)">
  <input type='hidden' name='id_carteira' value='fcordeirojr@hotmail.com' />
  <input type='hidden' name='valor' value='19700' />
  <input type='hidden' name='nome' value='Curso Desenvolvimento Gerencial' />
  <input type='hidden' name='descricao' value='CG012016 Pagamento do Curso Desenvolvimento Gerencial - Modernas Técnicas para Liderar Equipes Vencedoras - 22 a 25/11/2016, 19h as 22h, Biblioteca Fco. Meirelles'
  />
  <input type='hidden' name='id_transacao' value='CG012016' [(ngModel)]="idTransacao" />


  <label class="form-input">
    <span class="input-label">Nome</span>
    <span class="input-container">
      <input class="input" type="text" name="pagador_nome" value="" placeholder="Nome" required maxlength="90">
    </span>
  </label>
  <label class="form-input">
    <span class="input-label">E-mail</span>
    <span class="input-container">
      <input class="input" type="email" name="pagador_email" value="" placeholder="E-mail" required maxlength="45">
     </span>
  </label>
  <label class="form-input">
    <span class="input-label">Telefone (somente números)</span>
    <span class="input-container">
      <input class="input" type="tel" name="pagador_celular" value="" placeholder="6912345678" required maxlength="10">
    </span>
  </label>

  <input type='image' name='submit' src='https://static.moip.com.br/imgs/buttons/bt_pagar_c02_e04.png' alt='Pagar' border='0' />
</form>
