.form-input {
  display: flex;
  flex-direction: column;
  flex: 1 ;
  margin-bottom: 1rem;
}
.input-label {
  display: flex;
  font-size: 1.5em;
  line-height: 2rem;
}
input[type="text"]
input[type="email"],
input[type="tel"],
.input {
  display: flex;
  flex: 1;
  width: 100%;
  font-size: 1.5em;
  line-height: 2rem;
  border: none;
  background-color: transparent;

  &:hover, &:focus {
    outline: none;
  }

  &:invalid {
    font-weight: bold;
    color: darkred;
  }
  &:valid {
    color: seagreen;
  }
}
.input-container{
  position: relative;
  padding: 0 1rem;
  flex: 1;
  display: flex;
  background-color: #eee;
  border: 1px solid #bbb;
  border-radius: 1rem;
}
