<section class="mv-section mv-servico" id="servicos">
  <div class="container">
    <header class="row">
      <div class="col-xs">
        <h1 class="mv-section__title">Serviços</h1>
      </div>
    </header>
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="mv-servico__item">
          <div class="mv-servico__icon">
            <i class="fa fa-bar-chart"></i>
          </div>
          <h2 class="mv-servico__title">
          Desenvolvimento Profissional
        </h2>
          <p>Planejamento, produção e realização de cursos, palestras e seminários para capacitação, aperfeiçoamento e desenvolvimento de recursos humanos de diversas áreas, com a produção de material específico para cada trabalho e com profissionais de
            experiência comprovada.
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="mv-servico__item">
          <div class="mv-servico__icon">
            <i class="fa fa-child"></i>
          </div>
          <h2 class="mv-servico__title">
          Coaching e Mentoria
        </h2>
          <p>Equipe preparada e atuante, visando o despertar, a consciência e a definição de objetivos para uma vida de qualidade, mais centrada e com equilíbrio, com a otimização dos relacionamentos, assim como aprimoramento de habilidades, competências, exercício profissional e mudança de estilo de vida, buscando resultados, liderança e empreendedorismo, fontes de sucesso em todas as áreas da vida. </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="mv-servico__item">
          <div class="mv-servico__icon">
            <i class="fa fa-bullhorn"></i>
          </div>
          <h2 class="mv-servico__title">
          Comunicação
        </h2>
          <p>Assessoria de Marketing para realização de eventos, criação e editoração eletrônica de folders, cartazes, jornais, tablóides, livros e revistas; criação, produção e reprodução de material publicitário para qualquer mídia. </p>
        </div>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="mv-servico__item">
          <div class="mv-servico__icon">
            <i class="fa fa-users"></i>
          </div>
          <h2 class="mv-servico__title">
          Assessoria no Campo Social
        </h2>
          <p>Projetos, treinamentos, capacitação, palestras, eventos, coordenação de seminários, orientação para prestação de contas, eleição de conselheiros tutelares.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="mv-servico__item">
          <div class="mv-servico__icon">
            <i class="fa fa-suitcase"></i>
          </div>
          <h2 class="mv-servico__title">
          Consultoria
        </h2>
          <p>Realização de pesquisas de mercado, pesquisa de opinião pública e orientação nas áreas de marketing, recrutamento, seleção, treinamento e desenvolvimento de recursos humanos; orientação para investimentos em geral e informática.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="mv-servico__item">
          <div class="mv-servico__icon">
            <i class="fa fa-graduation-cap"></i>
          </div>
          <h2 class="mv-servico__title">
          Assessoria Pedagógica
        </h2>
          <p>Projetos, treinamentos, capacitação de professores e demais profissionais da escola, palestras, coordenação de seminários e eventos diversos.</p>
        </div>
      </div>

    </div>
  </div>
</section>
