
.mv-servico {
  background-image: url("/assets/img/features/office.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  &__item {
    text-align: center;
    margin-bottom: 2rem;
  }
  &__icon {
    color: #2e3192;
    font-size: 4em;
  }
  &__title {
    color: #2e3192;
  }

}
