<mv-header></mv-header>

<!--Banner-->
<section class="banner banner--big">
  <header class="banner__header container">
    <div class="row">
      <div class="col-xs">
        <h1><span>Desenvolvimento Gerencial</span></h1>
        <h2><span>Modernas técnicas para liderar equipes vencedoras</span></h2>
        <h3><span><strong>Ministrante:</strong> Francisco Cordeiro Jr</span></h3>
      </div>
    </div>
  </header>
  <div class="banner__slide" style="background-image: url(/local/img/curso/desenvolvimento_gerencial.jpg)">
  </div>
</section>

<!--Visão geral-->
<section class="details">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h1 class="details--center">Visão do Trabalho</h1>
        <p>A importância e o verdadeiro papel do gerente estão, finalmente, adquirindo um reconhecimento há muito merecido.
          Gerenciar é uma atividade que o indivíduo empreende através de seu esforço e iniciativa, fazendo diferença o tripé
          empresa x colaborador x cliente; ao mesmo tempo, desfrutando do prazer em desempenhar a sua função. Para garantir
          esse sucesso, de ações eficientes, bem-sucedidas e lucrativas, a gerência deve ser não só experiente mas também
          respeitada por sua competência comprovável frente aos problemas e oportunidades que surgem no dia-a-dia da organização.</p>
        <p>Este trabalho tem como objetivo desenvolver no participante maior habilidade para liderar pessoas, tornando-as mais
          cooperativas e envolvendo-as realmente no processo para atingir melhores performances da empresa, melhoria de relacionamentos,
          produção e avaliação de resultados. De maneira específica, o participante passa a ter ferramentas para um processo
          efetivo de liderança e gerenciamento de sua equipe.</p>
        <p>Elementos da Programação Neurolingüística, Inteligência Emocional e Eneagrama são especial complemento para o alcance
          dos objetivos de cada integrante deste trabalho.</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <h1>Programa</h1>
        <ul>
          <li>Descobrindo seu perfil de líder</li>
          <li>Treinamento e motivação</li>
          <li>Desenvolvendo espírito de equipe</li>
          <li>Influência e quebra de resistência na equipe Delegação e formação de multiplicadores</li>
          <li>Dirigindo uma reunião eficaz</li>
          <li>Administrar competições e conflitos</li>
          <li>Competência pessoal e profissional</li>
        </ul>


      </div>
    </div>
  </div>
</section>


<section class="palestrante">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 col-md-offset-2">
        <img class="palestrante__img" src="/assets/img/profile.jpg" alt="">
      </div>
      <div class="col-xs-12 col-md-5">
        FRANCISCO CORDEIRO JÚNIOR é Administrador e Professor, pós-graduado em Educação Psicomotora e Mestrando em Administração, com a formação de Master Practitioner e Trainer em Programação Neurolingüística - PNL, pela SBPNL. É facilitador, palestrante e consultor empresarial e executivo pessoal nas áreas de Marketing, Vendas e Atendimento ao Cliente, Gestão de Talentos, Motivação, Programação Neurolingüística e Inteligência Emocional, estando em constante atuação. É professor do Departamento de Administração da Universidade Federal de Rondônia – UNIR, com atuações em diversas instituições de ensino e desenvolvimento de pessoas.
      </div>
    </div>
  </div>
</section>

<section class="dados">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p>Local: <strong>Auditório da Biblioteca Francisco Meirelles</strong></p>
        <p>Período: <strong>22 a 25/11/2016</strong> - das <strong>19h às 22h</strong></p>
        <p>Investimento: <strong>R$ 197,00</strong></p>
        <p>Valor promocional: <strong>R$ 147,00</strong> Até 18/11</p>
        <p>Forma de Pagamento:</p>
        <ul class="lista-preco">
          <li><span class="preco">
            <i class="fa fa-credit-card"></i> 5x <strong>R$ 39,40</strong> </span> no cartão: R$ 197,00 e sem juros</li>
          <li><span class="preco"><i class="fa fa-barcode"></i> R$147,00 </span> à vista no boleto.</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6 preco-espaco">
        <p>
          <img src="https://moip.com.br/wp-content/themes/moip/assets/images/logo-moip.svg" alt="">
        </p>
        <img src="https://moip.com.br/wp-content/uploads/2016/05/cartoes-01.png" alt="">
        <img src="https://cdn.moip.com.br/wp-content/uploads/2016/09/04193837/cartoes-02-boleto.png" alt="">
        <mv-pagamento-form></mv-pagamento-form>
      </div>
    </div>
  </div>
</section>
