.layout_menu-area {
  text-align: left;
}
.layout_logo-area {
  text-align: center;
}
.layout_tool-area {
  text-align: right;
}

.banner {
  position: relative;

  &__header {
    position: absolute;
    top: 30%;
    width: 100%;

    h1,
    h2,
    h3{
      margin: 0;
      padding: 0;
      text-align: center;

      span {
        padding: 2px;
        background-color: #44bdef;
        background-color: rgba(#44bdef,.9);
      }
    }

    h1{}
    h2{}
    h3{
      span {
        background-color: #FAC80C;
      }
    }
  }

  &__slide {
    display: block;
    min-height: 37.5rem;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__img {
    width: 100%;
    opacity: 0;
    visibility: hidden;
  }
}

.details {
  padding: 2rem 0;
  &--center {
    text-align: center;
  }
}

.palestrante {
  padding: 2rem 0;
  background-color: #fac80b;

  &__img {
    border-radius: 50%;
  }
}


.dados {
  padding: 2rem 0;

  h1,
  h2,
  h3{
    margin: 0;
    padding: 0;
  }
}

.to-left {
  text-align: left;
}
.to-center {
  text-align: center;
}
.to-right {
  text-align: right;
}

.layout__palestrante-img {

}

.botao-pagamento {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
}

.botao-pagamento:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.preco {
  span {
    font-size: .8em;
  }
}

.preco-espaco{
  text-align: center;
}

.lista-preco li {
  font-size: 1.5rem;
  line-height: 2rem;
}
