/* You can add global styles to this file, and also import other style files */
/**
 * font-family: 'Open Sans', sans-serif;
 * font-family: 'Slabo 27px', serif;
 */
// @import url('https://fonts.googleapis.com/css?family=Open+Sans|Josefin+Slab');

@import "config/variables";

/**
 * Reset
 */
* {
  box-sizing: border-box;
}

body,
html {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $default--font-family;
  font-size: 16px;
  line-height: 1.5em;
}

/**
 * Tipografia
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header--font-family;
  margin: 1rem 0 1rem 0;
  line-height: 1.2em;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  line-height: 1.4em;
  margin-bottom: .5em;
}

/**
 * Botão
 */
$btn--color: darken(#a2def7,20%); //#2e3192
$btn--background-color: transparent;
$btn--text-shadow: 1px 1px 3px lighten(#a2def7, 10%);
$btn-hover--background-color: lighten(#a2def7, 10%);
$btn-active--color: #2e3192;
$btn-active--text-shadow: 1px 1px 3px darken(#2e3192, 10%);
$btn-active--background-color: transparent;

.mv-btn {
  padding: 0 0.5em;
  font-family: inherit;
  font-size: 1.2em;
  line-height: 3em;
  text-shadow: $btn--text-shadow;
  color: $btn--color;
  background-color: $btn--background-color;
  border-width: 0;
  border-radius: 0.25em;
  outline: none;
  cursor: pointer;


  &:focus,
  &:active,
  {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
  }

  &--default {
    margin: 0 0 1rem 0;
    background-color: $btn-hover--background-color;
  }

  &--default:hover {
    background-color: $btn-hover--background-color;
  }
  &--active, &--active:hover {
    margin: 0;
    text-shadow: none;
    color: $btn-active--color;
    background-color: $btn-active--background-color;
  }

  &--block {
    width: 100%;
  }

  &--fx.mv-btn--flat,
  &--fx:hover {
    position: relative;
    box-shadow: 0 1px 3px rgba(60, 60, 60, 0.2), 0 0 40px rgba(255, 255, 255, 0.1) inset;
  }

  &--fx:hover:after,
  &--fx:hover:before {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(200,200,200,0.1);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    border-radius: 100px / 10px;
  }

  &--fx:hover:after {
    right: 10px;
    left: auto;
    transform: skew(8deg) rotate(3deg);
  }
}
/**
 * Efeito
 */
.mv-fx__shadow--left {
  position: relative;
}

.mv-fx__shadow--left:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  box-shadow: 0 30px 20px #777;
  transform: rotate(-3deg);
}
/**
 * Seção
 */
.mv-section {
  overflow: hidden;
  min-height: 80%;
  padding: 1rem 0;
  box-shadow: 0 0 4px #bbb;

  &__title {
    display: block;
    width: 15rem;
    height: 15rem;
    line-height: 15rem;
    margin: -7rem auto 3rem auto;
    padding: 2rem 0 0 0;
    font-family: $header--font-family;
    text-align: center;
    color: #666;
    background-color: white;
    border: 0;
    border-radius: 50%;
  }
}

/**
 * Utils
 */

.text-center {
  justify-content: center;

}
