<section class="mv-section mv-clientes" id="clientes">
  <div class="container">
    <header class="row">
      <div class="col-xs">
        <h1 class="mv-section__title">Clientes</h1>
      </div>
    </header>

    <div class="row">
      <!-- Categorias -->
      <div class="col-xs-12 col-md-4 text-center">
        <button class="mv-clientes__btn" type="button" [ngClass]="isSelected(1)" (click)="selecionaCategoria(1)">
          Workshops Pedagógicos
        </button>
        <button class="mv-clientes__btn" type="button" [ngClass]="isSelected(2)" (click)="selecionaCategoria(2)">
          Marketing, Motivação e RH
        </button>

      </div>
      <!-- /Categorias -->

      <div class="col-xs-12 col-md-8">
        <div class="row">
          <!-- Listagem -->
          <template [ngIf]="temCategoriaSelecionada()">
              <div class="col-xs">
                <ul>
                  <li *ngFor="let cliente of clientes | filtroCliente:categoriaSelecionada">
                    <!-- <mv-cliente [nome]="cliente.nome" [sigla]="cliente.sigla"></mv-cliente> -->
                    <strong class="mv-cliente__sigla" *ngIf="cliente.sigla">{{cliente.sigla}} : </strong>
                    <span class="mv-cliente__nome">{{cliente.nome}}</span>
                  </li>
                </ul>
              </div>
          </template>
          <!-- /Listagem -->

          <!-- Mensagem -->
          <template [ngIf]="!temCategoriaSelecionada()">
          <div class="mv-clientes__mensagem col-xs">
            <p>
              Há mais de 25 anos contribuindo na transformação de pessoas, organizações e sociedade.
            </p>
          </div>
          </template>
          <!-- /Mensagem -->

        </div>
      </div>
    </div>

  </div>
</section>
