.mv-clientes {
  background-image: url("/assets/img/features/public.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  &__btn {
    font-size: 1rem;
    margin: 0 auto 1rem auto;
    display: block;
    height: 12rem;
    width: 12rem;
    text-align: center;
    outline: none;
    border: 5px solid #fac80b;
    border-radius: 6rem;
    background-color: #fac80b;

    &--active {
      background-color: white;
    }
  }

  &__mensagem {
    font-family: "Josefin Slab";
    font-size: 5em;

    p {
      line-height: 1em;
      margin: 0;
    }
  }
}
